@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/*body {*/
/*    font-family: Candara, sans-serif;*/
/*}*/

/*body .ponomar-regular {*/
/*    font-family: "Ponomar", system-ui;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
.website {
    position: absolute;
    left: -9999px;
}

body {
    font-family: Constantia;
}